---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="domnantas" description="Site under construction">
	<main>
		<img class="under-construction-image" src="under-construction.jpg" alt="An emoji with a hardhat pushing a wheelbarrow. Text on the side says 'Sorry bro the site is still being built. Keep scrolling'" />
	</main>
</Layout>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<style>
	main {
		display: grid;
		place-items: center;
		height: 100%;
	}

	.under-construction-image {
		max-width: 100%;
	}
</style>
