---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="domnantas" description="Site under construction">
	<main>
		<div>
			<h1>Still working on it</h1>
			<h3 class="subtitle">but you can <a href="/resume">hire</a> me</h3>
		</div>
	</main>
</Layout>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<style>
	main {
		display: grid;
		place-items: center;
		text-align: center;
		height: 100%;
	}

	.subtitle {
		margin-top: var(--space-s);
	}
</style>
