---
import BaseHead from '../components/BaseHead.astro';

const title = 'domnantas';
const description = "Domantas Petrauskas is a lead frontend engineer and a pilot based in Lithuania. Building applications and teams.";
const permalink = 'https://domnantas.lt/';
---

<html lang="en">

<head>
	<BaseHead title={title} description={description} permalink={permalink} />
	<style>
		html {
			height: 100%;
		}

		body {
			display: grid;
			place-items: center;
			height: 100%;
		}
	</style>
</head>

<body>
	coming soon
</body>

</html>
