---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="domnantas" description="Site under construction">
	<main>
		<h1>Still working on it</h1>
	</main>
</Layout>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<style>
	main {
		display: grid;
		place-items: center;
		height: 100%;
	}
</style>
