---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="domnantas">
	<main>
		<img class="under-construction-image" src="under-construction.jpg"/>
	</main>
</Layout>

<style>
	main {
		display: grid;
		place-items: center;
		height: 100%;
	}

	.under-construction-image {
		max-width: 100%;
	}
</style>
