---
import Layout from "@/layouts/Layout.astro";
import Sparkles from "@/components/Sparkles.tsx";
---

<script>
	import { Gradient } from "./Gradient.js";

	// Create your instance
	const gradient = new Gradient();

	// Call `initGradient` with the selector to your canvas
	gradient.initGradient("#gradient-canvas");
</script>

<Layout
	title="Resume | domnantas.lt"
	description="Domantas Petrauskas resume"
	image="/resume-og.png"
>
	<div class="page-wrapper">
		<canvas id="gradient-canvas" data-transition-in></canvas>
		<a
			href="/Resume-Domantas-Petrauskas.pdf"
			target="_blank"
			class="download-button"
		>
			.pdf
			<svg
				class="download-icon"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 48 48"
			>
				<path
					d="M11 40q-1.2 0-2.1-.9Q8 38.2 8 37v-7.15h3V37h26v-7.15h3V37q0 1.2-.9 2.1-.9.9-2.1.9Zm13-7.65-9.65-9.65 2.15-2.15 6 6V8h3v18.55l6-6 2.15 2.15Z"
					fill="currentColor"></path>
			</svg>
		</a>
		<main class="paper">
			<header>
				<picture>
					<source srcset="/profile.webp" type="image/webp" />
					<source srcset="/profile.png" type="image/png" />
					<img src="/profile.png" alt="A man's face" class="profile-picture" />
				</picture>
				<div class="contacts lighter">
					<p class="location">Vilnius, Lithuania</p>
					<a href="mailto:hello@domnantas.lt">hello@domnantas.lt</a>
					<a href="tel:+37063879622">+370 6 387 9622</a>
					<a href="https://github.com/domnantas">github.com/domnantas</a>
				</div>
			</header>
			<h1 class="name">Domantas Petrauskas</h1>
			<h2 class="subtitle">
				Seven years of building <Sparkles client:load>
					<span class="text-gradient">magical</span>
				</Sparkles> experiences on the web
			</h2>
			<h3 class="section-title">Work Experience</h3>
			<div class="workplaces">
				<div class="workplace">
					<h4><a href="https://usbank.com">U.S. Bank</a></h4>
					<p>
						<span class="position">Senior Frontend Developer</span>
						<span class="date lighter">2023 - Present</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Working on a large ecommerce web application using React, Next.js
							and TypeScript
						</li>
						<li>Strong focus on accessibility and unit testing</li>
					</ul>
				</div>
				<div class="workplace">
					<h4><a href="https://zyro.com">Zyro</a></h4>
					<p>
						<span class="position">Frontend Developer and Team Lead</span>
						<span class="date lighter">2019 - 2023</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Built an easy-to-use yet powerful website builder using Vue, Nuxt,
							and Node.js
						</li>
						<li>
							Made decisions regarding application architecture, tech stack, and
							tooling
						</li>
						<li>
							Developed a data model backward compatibility layer using
							functional JS
						</li>
						<li>
							Lead a team of engineers, supported their growth, evaluated their
							performance, and ensured smooth collaboration
						</li>
						<li>
							Designed interview process, evaluation guidelines, and career
							ladders
						</li>
					</ul>
				</div>
				<div class="workplace">
					<h4>Freelance</h4>
					<p>
						<span class="position">Frontend Developer</span>
						<span class="date lighter">Feb 2019 - Jun 2019</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Used Gridsome and Forestry CMS to build a website for a UAV
							company
						</li>
						<li>Worked on logistics management system frontend using React</li>
					</ul>
				</div>
				<div class="workplace">
					<h4>New Code</h4>
					<p>
						<span class="position">Frontend Developer</span>
						<span class="date lighter">2018 - 2019</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Developed animation-heavy blockchain startup landing page using
							Nuxt
						</li>
					</ul>
				</div>
				<div class="workplace">
					<h4>KEMDU</h4>
					<p>
						<span class="position">Junior Frontend Developer</span>
						<span class="date lighter">2017 - 2018</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Built a model management agency
							<a href="https://duomgmt.com" target="_blank">landing page</a> using
							Vue and WordPress
						</li>
					</ul>
				</div>
			</div>
			<h3 class="section-title">Education</h3>
			<div class="education-facilities">
				<div class="education-facility">
					<h4>VILNIUS TECH</h4>
					<p>
						<span class="position">Master of Aeronautical Engineering</span>
						<span class="date lighter">2016 - 2021</span>
					</p>
				</div>
			</div>
			<h3 class="section-title">Open Source</h3>
			<div class="open-source-projects">
				<div class="open-source-project">
					<h4><a href="https://ham.guide" target="_blank">ham.guide</a></h4>
					<p>
						<span class="project-description">
							Amateur radio knowledge base. Author.
						</span>
						<span class="date lighter">Since 2018</span>
					</p>
				</div>
				<div class="open-source-project">
					<h4>
						<a
							href="https://github.com/domnantas/airplane-disco"
							target="_blank"
						>
							Airplane Disco
						</a>
					</h4>
					<p>
						<span class="project-description">
							Airplane scatter prediction web app. Author.
						</span>
						<span class="date lighter">Since 2022</span>
					</p>
				</div>
				<div class="open-source-project">
					<h4>
						<a href="https://github.com/eslint/eslint" target="_blank">
							ESLint
						</a>
					</h4>
					<p>
						<span class="project-description">
							JavaScript linter and formatter. Contributor.
						</span>
						<span class="date lighter">Since 2022</span>
					</p>
				</div>
			</div>
			<h3 class="section-title">Skills</h3>
			<div class="skills">
				<div class="skill-category">
					<h4 class="skill-category-title">Languages</h4>
					JavaScript, TypeScript, Elixir, Swift, Python
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Frontend</h4>
					Vue, React, Svelte, Next.js, Nuxt, Astro
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Backend</h4>
					Node.js, Deno, MySQL, Prisma, DevOps
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Testing</h4>
					Jest, Mocha, Vitest, Playwright
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Soft skills</h4>
					Mentorship, Hiring, Leadership
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Curious about</h4>
					Aviation, Sailing, Electronics, VR
				</div>
			</div>
		</main>
	</div>
</Layout>

<style>
	.page-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: var(--space-m) var(--space-s);
		background: linear-gradient(
			to bottom,
			hsla(0, 0%, 100%, 0.6),
			hsla(0, 0%, 100%, 0)
		);
		background-size: cover;
		min-height: 100vh;
		position: relative;
	}

	#gradient-canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		--gradient-color-1: #5706f9;
		--gradient-color-2: #ec9cfc;
		--gradient-color-3: #decffc;
		--gradient-color-4: #f76ec9;
	}

	.download-button {
		display: flex;
		align-items: center;
		gap: var(--space-2xs);
		padding: var(--space-2xs) var(--space-xs);
		margin-bottom: var(--space-s);
		background-color: hsla(0, 0%, 100%, 0.7);
		backdrop-filter: blur(10px);
		border-radius: 16px;
		box-shadow: 0 0.75rem 2rem 0 hsla(0, 0%, 0%, 0.1);
		font-size: var(--step-0);
		color: var(--color-text);
		font-weight: 700;
		text-decoration: none;
		cursor: pointer;
		transition: transform 0.2s ease;
	}

	.download-button:hover {
		transform: scale(1.05);
	}

	.download-icon {
		width: var(--step-2);
	}

	.paper {
		max-width: 940px;
		box-shadow: 0 0.75rem 2rem 0 hsla(0, 0%, 0%, 0.1);
		margin: 0 auto;
		padding: var(--space-m-l);
		background-color: hsla(0, 0%, 100%, 0.7);
		backdrop-filter: blur(10px);
		border-radius: 16px;
	}

	.profile-picture {
		width: 100%;
		max-width: 100px;
		max-height: 100px;
		border-radius: 60px;
		object-fit: cover;
		background: linear-gradient(
			45deg,
			hsl(var(--primary-hue), 95%, 90%),
			hsl(calc(var(--primary-hue) + 60), 95%, 90%)
		);
		animation: blob 20s infinite linear alternate;
	}

	@keyframes blob {
		0% {
			border-radius: 57% 43% 70% 30% / 44% 73% 27% 56%;
		}
		25% {
			border-radius: 68% 42% 63% 37% / 36% 51% 49% 74%;
		}
		50% {
			border-radius: 50% 50% 33% 67% / 43% 54% 46% 57%;
		}
		75% {
			border-radius: 68% 32% 63% 37% / 40% 51% 49% 74%;
		}
		100% {
			border-radius: 57% 43% 70% 50% / 44% 73% 37% 56%;
		}
	}

	header {
		display: grid;
		row-gap: var(--space-m);
		margin-bottom: var(--space-s);
	}

	.contacts {
		display: grid;
		justify-items: start;
	}

	.name {
		margin-bottom: var(--space-2xs);
		font-size: var(--step-3);
	}

	.subtitle {
		font-size: var(--step-1);
	}

	.text-gradient {
		background-image: linear-gradient(
			45deg,
			var(--color-primary) 25%,
			var(--color-complimentary-2)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.section-title {
		font-size: var(--step--1);
		font-weight: 400;
		margin-top: var(--space-l);
		margin-bottom: var(--space-xs);
	}

	.position,
	.project-description {
		margin-right: var(--space-2xs);
	}

	.date {
		white-space: nowrap;
		font-size: var(--step--1);
	}

	.workplaces,
	.education-facilities,
	.open-source-projects {
		display: grid;
		gap: var(--space-2xs);
	}

	.lighter {
		opacity: 0.7;
	}

	.skills {
		display: grid;
		gap: var(--space-s);
	}

	.skill-category-title {
		font-size: var(--step-0);
	}

	@media (min-width: 768px) {
		header {
			grid-template-columns: auto 1fr;
			align-items: center;
		}

		.contacts {
			justify-self: end;
			justify-items: end;
		}

		.workplace,
		.education-facility,
		.open-source-project {
			display: grid;
			grid-template-columns: 180px 1fr;
		}

		.experiences {
			grid-column-start: 2;
		}

		.skills {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-text: hsl(var(--primary-hue), 100%, 91%);
			--color-background: hsl(260, 9%, 13%);
		}
		.page-wrapper {
			background: linear-gradient(
				to bottom,
				hsla(0, 0%, 0%, 0.6),
				hsla(0, 0%, 0%, 0)
			);
		}

		#gradient-canvas {
			--gradient-color-3: var(--color-background);
		}

		.text-gradient {
			background-image: linear-gradient(
				45deg,
				hsl(var(--primary-hue), 95%, 65%) 25%,
				hsl(var(--complimentary-2-hue), 95%, 65%)
			);
		}

		.paper,
		.download-button {
			background-color: hsla(0, 0%, 15%, 0.7);
		}
	}

	@media print {
		.page-wrapper {
			margin: 0;
			padding: 0;
			background: none;
		}

		#gradient-canvas,
		.download-button {
			display: none;
		}

		.paper {
			box-shadow: none;
			padding: 0;
			background: none;
		}

		header {
			grid-template-columns: auto 1fr;
			align-items: center;
		}

		.text-gradient {
			print-color-adjust: exact;
		}

		.contacts {
			justify-self: end;
			text-align: right;
		}

		.workplace,
		.education-facility,
		.open-source-project {
			display: grid;
			grid-template-columns: 180px 1fr;
		}

		.experiences {
			grid-column-start: 2;
		}

		.skills {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.section-title {
			margin-top: var(--space-m);
		}
	}
</style>
