---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="resume" description="Domantas Petrauskas resume">
	<div class="paper-wrapper">
		<main class="paper">
			<header>
				<img
					class="profile-picture"
					src="/profile-placeholder.jpg"
					alt="A man's face"
				/>
				<div class="contacts">
					<p class="location">Vilnius, Lithuania</p>
					<a href="mailto:hello@domnantas.lt">hello@domnantas.lt</a>
					<a href="tel:+37063879622">+370 6 387 9622</a>
					<a href="https://github.com/domnantas">https://github.com/domnantas</a
					>
				</div>
			</header>
			<h1 class="name">Domantas Petrauskas, Software Developer</h1>
			<h2 class="subtitle">
				Six years of building magical experiences on the web ✨
			</h2>
			<hr />
			<h3 class="section-title">Work Experience</h3>
			<section>
				<h4><a href="https://zyro.com">Zyro</a></h4>
				<p>
					<i>
						Frontend Developer and Team Lead,
						<span class="date">2019 - Present</span>
					</i>
				</p>
				<ul>
					<li>
						Building a simple, yet powerful website builder using Vue, Nuxt, and
						Node.js
					</li>
					<li>Leading 2-8 people, supporting their growth and performance</li>
					<li>
						Establishing interview process, evaluation guidelines and career
						ladders
					</li>
				</ul>
			</section>
			<section>
				<h4>Freelance</h4>
				<p>
					<i>
						Frontend Developer, <span class="date">Feb 2019 - Jun 2019</span>
					</i>
				</p>
				<ul>
					<li>
						Marketing website for a UAV company using Gridsome and Forestry CMS
					</li>
					<li>Logistics management system frontend using React</li>
				</ul>
			</section>
			<section>
				<h4>New Code</h4>
				<p>
					<i>Frontend Developer, <span class="date">2018 - 2019</span></i>
				</p>
				<ul>
					<li>Animation-heavy blockchain startup landing page using Nuxt</li>
				</ul>
			</section>
			<section>
				<h4>KEMDU</h4>
				<p>
					<i>Frontend Developer, <span class="date">2017 - 2018</span></i>
				</p>
				<ul>
					<li>
						Model management agency <a href="https://duomgmt.com"
							>landing page</a
						> using Vue and WordPress
					</li>
				</ul>
			</section>
			<hr />
			<h3 class="section-title">Education</h3>
			<section>
				<h4>VILNIUS TECH</h4>
				<p>
					<i>
						Master of Aeronautical Engineering,
						<span class="date">2016 - 2021</span>
					</i>
				</p>
			</section>
			<hr />
			<h3 class="section-title">Skills</h3>
			<ul>
				<li>JavaScript, TypeScript, Elixir, Python, C/C++</li>
				<li>Vue, React, Svelte</li>
				<li>Next, Nuxt, Astro, Redwood, Gridsome, SvelteKit</li>
				<li>Node.js, Deno, MySQL, Prisma, DevOps</li>
				<li>Flutter, Swift</li>
				<li>Jest, Mocha, Vitest, Cypress, Playwright</li>
				<li>Mentoring, Hiring, Leadership</li>
			</ul>
			<p></p>
		</main>
	</div>
</Layout>

<style>
	.paper-wrapper {
		margin: 0 auto;
		padding: var(--space-m) var(--space-s);
	}

	.paper {
		max-width: 940px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		margin: 0 auto;
		padding: var(--space-m-l);
	}

	.profile-picture {
		width: 100%;
		max-width: 100px;
		max-height: 100px;
		border-radius: 60px;
		object-fit: cover;
	}

	header {
		display: grid;
		row-gap: var(--space-m);
		margin-bottom: var(--space-s);
	}

	.contacts {
		display: grid;
	}

	.name {
		margin-bottom: var(--space-2xs);
		font-size: var(--step-3);
	}

	.subtitle {
		font-size: var(--step-1);
	}

	hr {
		margin: var(--space-xs) 0;
	}

	.section-title {
		font-size: var(--step-0);
		margin-bottom: var(--space-xs);
	}

	.date {
		white-space: nowrap;
	}

	a {
		color: var(--color-text);
	}

	section {
		margin-bottom: var(--space-xs);
	}

	@media (min-width: 768px) {
		header {
			grid-template-columns: auto 1fr;
			align-items: center;
		}

		.contacts {
			justify-self: end;
			text-align: right;
		}
	}

	@media print {
		.paper-wrapper {
			margin: 0;
			padding: 0;
		}

		.paper {
			box-shadow: none;
			padding: 0;
		}

		header {
			grid-template-columns: auto 1fr;
			align-items: center;
		}

		.contacts {
			justify-self: end;
			text-align: right;
		}

		a {
			text-decoration: none;
		}
	}
</style>
