---
import Layout from "@/layouts/Layout.astro";
---

<script>
	import { Gradient } from "./Gradient.js";

	// Create your instance
	const gradient = new Gradient();

	// Call `initGradient` with the selector to your canvas
	gradient.initGradient("#gradient-canvas");
</script>

<Layout title="resume" description="Domantas Petrauskas resume">
	<div class="paper-wrapper">
		<canvas id="gradient-canvas" data-transition-in></canvas>
		<main class="paper">
			<header>
				<img
					class="profile-picture"
					src="/profile-placeholder.jpg"
					alt="A man's face"
				/>
				<div class="contacts lighter">
					<p class="location">Vilnius, Lithuania</p>
					<a href="mailto:hello@domnantas.lt">hello@domnantas.lt</a>
					<a href="tel:+37063879622">+370 6 387 9622</a>
					<a href="https://github.com/domnantas">github.com/domnantas</a>
				</div>
			</header>
			<h1 class="name">Domantas Petrauskas</h1>
			<h2 class="subtitle">
				Six years of building <span class="text-gradient">magical</span> experiences
				on the web
			</h2>
			<h3 class="section-title">Work Experience</h3>
			<div class="workplaces">
				<div class="workplace">
					<h4><a href="https://zyro.com">Zyro</a></h4>
					<p>
						<span class="position">Frontend Developer and Team Lead</span>
						<span class="date lighter">2019 - Present</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Building an easy to use, yet powerful website builder using Vue,
							Nuxt, and Node.js
						</li>
						<li>
							Owned many large-scale initiatives, ensured smooth collaboration
						</li>
						<li>
							Leading a team of engineers, supporting their growth and
							performance
						</li>
						<li>
							Designing interview process, evaluation guidelines and career
							ladders
						</li>
					</ul>
				</div>
				<div class="workplace">
					<h4>Freelance</h4>
					<p>
						<span class="position">Frontend Developer</span>
						<span class="date lighter">Feb 2019 - Jun 2019</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Marketing website for a UAV company using Gridsome and Forestry
							CMS
						</li>
						<li>Logistics management system frontend using React</li>
					</ul>
				</div>
				<div class="workplace">
					<h4>New Code</h4>
					<p>
						<span class="position">Frontend Developer</span>
						<span class="date lighter">2018 - 2019</span>
					</p>
					<ul class="experiences lighter">
						<li>Animation-heavy blockchain startup landing page using Nuxt</li>
					</ul>
				</div>
				<div class="workplace">
					<h4>KEMDU</h4>
					<p>
						<span class="position">Junior Frontend Developer</span>
						<span class="date lighter">2017 - 2018</span>
					</p>
					<ul class="experiences lighter">
						<li>
							Model management agency
							<a href="https://duomgmt.com" target="_blank">landing page</a> using
							Vue and WordPress
						</li>
					</ul>
				</div>
			</div>
			<h3 class="section-title">Education</h3>
			<div class="education-facilities">
				<div class="education-facility">
					<h4>VILNIUS TECH</h4>
					<p>
						<span class="position">Master of Aeronautical Engineering</span>
						<span class="date lighter">2016 - 2021</span>
					</p>
				</div>
			</div>
			<h3 class="section-title">Open Source</h3>
			<div class="open-source-projects">
				<div class="open-source-project">
					<h4><a href="https://armanual.org" target="_blank">ARManual</a></h4>
					<p>
						<span class="project-description">
							Amateur radio knowledge base. Author.
						</span>
						<span class="date lighter">Since 2018</span>
					</p>
				</div>
				<div class="open-source-project">
					<h4>
						<a
							href="https://github.com/domnantas/airplane-disco"
							target="_blank"
						>
							Airplane Disco
						</a>
					</h4>
					<p>
						<span class="project-description">
							Airplane Scatter prediction web app. Author.
						</span>
						<span class="date lighter">Since 2022</span>
					</p>
				</div>
				<div class="open-source-project">
					<h4>
						<a href="https://github.com/eslint/eslint" target="_blank">
							ESLint
						</a>
					</h4>
					<p>
						<span class="project-description">
							JavaScript linter and formatter. Contributor.
						</span>
						<span class="date lighter">Since 2022</span>
					</p>
				</div>
			</div>
			<h3 class="section-title">Skills</h3>
			<div class="skills">
				<div class="skill-category">
					<h4 class="skill-category-title">Languages</h4>
					JavaScript, TypeScript, Elixir 💜, Python, C/C++
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Frontend</h4>
					Vue, React, Svelte, Next.js, Nuxt, Astro, Redwood
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Backend</h4>
					Node.js, Deno, MySQL, Prisma, DevOps
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Testing</h4>
					Jest, Mocha, Vitest, Playwright
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Soft skills</h4>
					Mentorship, Hiring, Leadership, Clear communication
				</div>
				<div class="skill-category">
					<h4 class="skill-category-title">Curious about</h4>
					Aviation, Sailing, Electronics, Swift, VR
				</div>
			</div>
		</main>
	</div>
</Layout>

<style>
	.paper-wrapper {
		margin: 0 auto;
		padding: var(--space-m) var(--space-s);
		background: linear-gradient(
			to bottom,
			hsla(0, 0%, 100%, 0.6),
			hsla(0, 0%, 100%, 0)
		);
		background-size: cover;
		min-height: 100vh;
		position: relative;
	}

	#gradient-canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		--gradient-color-1: #5706f9;
		--gradient-color-2: #ec9cfc;
		--gradient-color-3: #decffc;
		--gradient-color-4: #f76ec9;
	}

	.paper {
		max-width: 940px;
		box-shadow: 0 0.75rem 2rem 0 hsla(0, 0%, 0%, 0.1);
		margin: 0 auto;
		padding: var(--space-m-l);
		background-color: hsla(0, 0%, 100%, 0.7);
		backdrop-filter: blur(10px);
		border-radius: 16px;
	}

	.profile-picture {
		width: 100%;
		max-width: 100px;
		max-height: 100px;
		border-radius: 60px;
		object-fit: cover;
	}

	header {
		display: grid;
		row-gap: var(--space-m);
		margin-bottom: var(--space-s);
	}

	.contacts {
		display: grid;
	}

	.name {
		margin-bottom: var(--space-2xs);
		font-size: var(--step-3);
	}

	.subtitle {
		font-size: var(--step-1);
	}

	.text-gradient {
		background-image: linear-gradient(
			45deg,
			var(--color-primary) 25%,
			var(--color-complimentary-2)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.section-title {
		font-size: var(--step--1);
		font-weight: 400;
		margin-top: var(--space-l);
		margin-bottom: var(--space-xs);
	}

	.position,
	.project-description {
		margin-right: var(--space-2xs);
	}

	.date {
		white-space: nowrap;
		font-size: var(--step--1);
	}

	.workplaces,
	.education-facilities,
	.open-source-projects {
		display: grid;
		gap: var(--space-2xs);
	}

	.lighter {
		opacity: 0.7;
	}

	.skills {
		display: grid;
		gap: var(--space-s);
	}

	.skill-category-title {
		font-size: var(--step-0);
	}

	@media (min-width: 768px) {
		header {
			grid-template-columns: auto 1fr;
			align-items: center;
		}

		.contacts {
			justify-self: end;
			text-align: right;
		}

		.workplace,
		.education-facility,
		.open-source-project {
			display: grid;
			grid-template-columns: 180px 1fr;
		}

		.experiences {
			grid-column-start: 2;
		}

		.skills {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media print {
		body {
			font-size: 14px;
		}

		.paper-wrapper {
			margin: 0;
			padding: 0;
			background: none;
		}

		#gradient-canvas {
			display: none;
		}

		.paper {
			box-shadow: none;
			padding: 0;
			background: none;
		}

		header {
			grid-template-columns: auto 1fr;
			align-items: center;
		}

		.text-gradient {
			print-color-adjust: exact;
		}

		.contacts {
			justify-self: end;
			text-align: right;
		}

		.workplace,
		.education-facility,
		.open-source-project {
			display: grid;
			grid-template-columns: 180px 1fr;
		}

		.experiences {
			grid-column-start: 2;
		}

		.skills {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
</style>
